[Unit]
Description=Arctis Nova 7 Wireless
After=default.target

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/usr/bin/python3 %h/.local/bin/Arctis_7_Plus_ChatMix.py
Restart=always

[Install]
WantedBy=default.target