[Unit]
Description=My Python Script
After=network.target

[Service]
ExecStart=/usr/bin/python3 .local/bin/Arctis_7_Plus_ChatMix.py
Restart=always

[Install]
WantedBy=multi-user.target